.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
}

.grid-container .item {
    width: 100%;
    height: inherit;
    border: 1px dotted gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container .item img {
    height: 90%;
}
